<div class="p-4">
	<div class="container">
		<h1>Hi {{user.firstName}}!</h1>
		<p>You're logged in with Angular 10!!</p>
		<p><a routerLink="/users">Manage Users</a></p>
	</div>
</div>


<menu></menu>

<div class="container">
	container
	<div class="row">
		<div class="col-md-12">
			<h1>Best shop ever</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<h3>Products</h3>
			<div id="products-list" class="products-list">
				<shopping-cart></shopping-cart>
			</div>
		</div>
		<div class="col-md-4">
			<h3>Shopping Cart</h3>
			<div id="cart" class="cart">
			</div>
		</div>
	</div>
</div>