<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

<header>

    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
                <span class="fs-4">Caribbean collect</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link_CC">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link_CC">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link_CC">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link_CC">About</a></li>
            </ul>
        </header>
    </div>
</header>


<div class="col-md-12">
    <div class="modal-dialog" style="margin-bottom:0">
        <div class="modal-content">
            <div class="panel-heading">
                <h3 class="panel-title">Se connecter</h3>
            </div>
            <div class="panel-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <fieldset>
                        <div class="form-group">
                            <input formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="E-mail" name="email" type="email" autofocus="">
                        </div>
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                        <div class="form-group">
                            <input formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control" placeholder="Mot de passe" name="password" type="password" value="">
                        </div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                            <a routerLink="../register" class="btn btn-link">Register</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>